/* body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
/* h1 {
  position: absolute;
  font-size: 20px;
  top: 40vh;
  right: 20vh;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all;
    font-family: Arial, Helvetica, sans-serif;
} */


html, body {
    height: 100%;
    margin: 0;
}

[data-scroll-container] {
    height: 100%;
    overflow: hidden; /* Asegúrate de ocultar el overflow */
}

[data-scroll-section] {
    min-height: 100vh; /* Cada sección ocupa toda la ventana */
    position: relative; /* Requerido para Locomotive Scroll */
    display: flex;
    justify-content: center;
    align-items: center;
}

  